/*to override default browswer styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 h4{
    font-family: "Merriweather Sans", sans-serif;
    color: white;
    }
    
body {
    font-family: "Roboto Flex", sans-serif;
    color: white;
}

/*Top Banner*/
/*Header*/
header {
    /*Make background transparrent with dark gradient*/
    background-color: #242424d4;
    box-shadow: 1px 15px 15px 4px #0000007e;
    padding: 20px 1rem;
    width: 100%;
    display: flex;
    align-items: baseline;
    position: fixed;
    justify-content: space-between;
    z-index: 99;
}

header a {
    text-decoration: none;
}

/*Text Logo*/
h1 .fa-solid {
    size: 5px;
    padding: 3px;
}

#logo {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 20px;
}

/*logo icon*/
.fa-solid {
    color: rgb(255, 0, 89);
}

/*Navigation*/
nav {
    background-color: #ffffffb0;
    position:absolute;
    width:20%;
    right:0;
    padding: 0 0.5rem;
    display: none;
    top:100%;
}

/*Burgermenu*/
#burgermenu:checked~nav {
    display: block;
}

#burgermenu{
    display:none;
}

.burgermenu-label {
    font-size: 1.5rem;
}

#topnav {
    color:white;
    font-size: 90%;
    letter-spacing: 1px;
    list-style-type: none;
}

#topnav>li {
    margin-bottom: 0.8em;
}

.active {
    border-bottom: 2px solid rgb(255, 0, 89);
}

/*Main Content*/
main {

}

/*Hero Image*/
#hero-image{
    height: 280px;
    background: url(../images/hero2.jpg) no-repeat center center/cover;
    background-size: 150%;
    padding:0;
    z-index: -1;
    position:relative;
    }

#cover-text {
    text-align: center;
    padding: 15px;
    font-size:17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}

#cover-text h2 {
    color: #fff3d9;
    text-shadow: 2px 3px 5px #000000;
}

#cover-text button {
    background-color: rgb(255, 0, 89);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    box-shadow: 2px 3px 5px #000000;
}

/*The Club*/
#why{
    width:100%;
    background-color: #242424;
    text-align: center;
    height: 600px;
}

#theclub {
    padding: 10% 18%;
}

#why h2{
    font-size: 180%;
    color:rgb(255, 216, 110);
    
}

#why p {
    font-size: 80%;
}

/*Easy steps*/
#easysteps h2 {
    font-size: 150%;
    color: white;
    padding: 10% 10%;
}

#easysteps p {
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
}


/*Add Icons?*/
#step1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0 0.5rem;
    padding: 7% 17%;
    text-align: center;
}

#step2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0 0.5rem;
    padding: 7% 17%;
    text-align: center;
}

#step3 {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    gap: 0 0.5rem;
    padding: 7% 17%;
    text-align: center;
}

/*footer*/
footer {
    background-color: #242424;
}

#footer{
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer i {
    font-size: 30px;
    color: white;
}

#footer i:hover {
    color: rgb(255, 0, 89);
}



/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {
    nav {
        display: block;
            position: relative;
            width: fit-content;
            padding-right: 1rem;
            background-color: #24242400;
    }

    #topnav {
        display:flex;
    }

    #topnav li {
        padding-left: 2rem;
        font-size: 16px;
        color: black;
        text-decoration: none;
        }

    .burgermenu-label {
        display: none;
    }

    #logo{
        font-size: 180%;
        line-height: 50px;
        margin: 0 1rem;
    }

    /*Main Content*/
    main {
    }
    
    /*Hero Image*/
    #hero-image {
        height: 92vh;   
    }

    #cover-text {
        padding: 8%;
        font-size: 30px;
        padding-top: 250px;
    }
    
    #cover-text button {
        padding: 5px 10px;
        font-size: 19px;
    }
}



/*Large devices ( laptops and desktops 992px and up)*/
@media screen and (min-width:992px) {



@media screen and (min-width:1200px) {
}