/*Top Banner*/
/*Header*/
header {
    /*Make background transparrent with dark gradient*/
    background-color: #242424;
    padding: 0 5;
    width: 100%;
    display: flex;
    align-items: baseline;
    position: absolute;
    justify-content: space-between;
}

/*Text Logo*/
h1 .fa-solid {
    size: 5px;
    padding: 3px;
}

#logo {
    font-family: "Archivo Black", sans-serif;
    color: white;
}

/*logo icon*/
.fa-solid {
    padding-right: 2px;
    color: rgb(255, 0, 89);
}

/*Navigation*/
nav {
    background-color: #242424;
    position:absolute;
    width:25%;
    right:0;
    padding: 0 0.5rem;
    box-shadow: -3px 3px 3px 3px rgba(42, 42, 42, 0.141);
    display: none;
    top:50%;
}

/*Burgermenu*/
#burgermenu:checked~nav {
    display: block;
}

#burgermenu{
    display:none;
}

.burgermenu-label {
    font-size: 1.5rem;
}

.topnav {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

.topnav>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid coral;
}

/*footer*/
footer {
    background-color: black;
}

#footer{
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer i {
    font-size: 30px;
    color: white;
}

#footer i:hover {
    color: coral;
}